.navbar {
  background-color: lightyellow;
}

.quem-somos {
  background-color: lightgrey;
}

.margin {
  padding-top: 30px;
  padding-bottom: 50px;
}

.parceiros-cls {
  background-color: lightseagreen;
}

.footer-cls {
  background-color: black;
  color: white;
  padding: 20px;
}
